*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: blue;

}
.container{
    height:350px;

    width: 450px;
    background:linear-gradient(130deg,  rgb(86, 86, 239), rgb(21, 21, 139));
    color:white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    justify-content: center;
  text-align: center;

}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border:0;
    outline: 0;
    padding: 12px 22px;
    flex: 1;
    margin-right: 20px;
    font-size: 10px;
    background-color: lightcyan;
    color: black;
    border-radius: 17px;
}
.search img{
    height: 30px;
    border-radius: 50%;
}
.search button{
    border: 0px;
    outline: 0px;
    background-color: white;
    width: 34px;
   
    border-radius: 50%;
    cursor:pointer;
}
.weather img{
    height: 150px;
    width: 150px;


}
.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    justify-content: space-between;
    margin-top: 50px;
}
.col{
  margin-bottom: 20px;
}